# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Env & tools
.venv/
.env
*.env

# VCS
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node leftovers
node_modules/
